
<section class="hero is-fullheight">
	<div class="hero-head">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item">
						<img src="images/hu-white.png" alt="Logo" href="#">
					</a>
					<span class="mobile-share-button">
						<a class="button" href="#">
							SHARE
						</a>
					</span>
				</div>
				<div id="navbarMenuHeroB" class="navbar-menu">
					<div class="navbar-end">
						<span class="navbar-item share-button">
							<button class="button copy-btn" data-clipboard-text="https://2019.hackuniversity.io">
								Share
							</button>
						</span>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<div class="hero-body" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
		<div class="container">
			<p class="title is-1 is-size-1-mobile white-text">
				OH HEY THERE
				<br>FELLOW <span class="color-animate">TECHIE</span> &#128075;
			</p>
			<div class="columns">
				<div class="column is-half">
					<p class="subtitle light-gray-text">2019 has been a crazy year! We got a little excited so we created this nifty site as a way to recap everything that happened in <strong>tech this year every 60 seconds</strong>. But first, here’s a little bit about Hack University &#x2B07;</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="vertical-line white-bg">
		</div>
	</div>
</section>

<section class="section">
	<div class="container" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
		<h4 class="title is-4 medium-gray-text">About Hack University</h4>
		<p class="is-size-3 is-size-4-mobile"><strong>We’re a community of hackers and designers</strong> honoring the world of tech. We’re here to share our knowledge. Social media is our primary way of distributing content. So we post on <a href="https://www.instagram.com/hackuniversity" target="_blank" class="blue-link">Instagram</a>, <a href="https://www.facebook.com/hackuniversity.io" target="_blank" class="blue-link">Facebook</a>, <a href="https://twitter.com/hackuniversity1" target="_blank" class="blue-link">Twitter</a>, and <a href="https://hackuniversity.io/" target="_blank" class="blue-link">Tumblr</a>. Join us!</p>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="vertical-line white-bg">
		</div>
	</div>
</section>

<section class="section">
	<div class="container" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
		<p class="is-size-3 is-size-4-mobile">Alright, that's enough about us. </p>
		<p class="is-size-3 is-size-4-mobile">Here's what happened in 2019 <strong><span class="blue-text">every 60 seconds</span></strong>...</p>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="vertical-line white-bg">
		</div>
	</div>
</section>

<!-- Bottom Instagram call to action button -->
<div class="bottom-bar black-bg white-text has-text-centered">
	<p>Check our 👉  <a href="https://instagram.com/hackuniversity" target="_blank" class="bottom-bar-btn white-bg black-text">Instagram!</a></p>
</div>

<!-- Blue Google -->
<div class="columns">
	<div class="column is-half blue3-bg stat-panel">
		<section class="section">
			<div class="container has-text-centered" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="title is-1 big-header is-size-1-tablet is-size-1-mobile black-text">3,800,000</p>
				<p class="stat-body black-text is-size-4 is-size-4-tablet is-size-5-mobile">search queries on <strong class="black-text">Google</strong><sup> [1]</sup></p>
				<p><a href="https://www.dropbox.com/sh/7z0agyrlbi7cv70/AADQwD0TEHOPL9a3nh0vuUhya?dl=0" target="_blank" class="download dark-gray-text">Download and share these stats</a></p>
			</div>
		</section>
	</div>
	<div class="column blue-bg has-text-centered stat-panel">
		<div class="stat-img" id="google-lottie" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
			<!-- If the animation doesn't work, then delete the id in the above div and uncomment this img tag below
			<img src="images/google.png"> -->
		</div>
	</div>
</div>

<!-- Red Instagram -->
<div class="columns">
	<div class="column is-half red3-bg stat-panel">
		<section class="section">
			<div class="container has-text-centered" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="title is-1 big-header is-size-1-tablet is-size-1-mobile black-text">348,000</p>
				<p class="stat-body black-text is-size-4 is-size-4-tablet is-size-5-mobile">people scrolling <strong class="black-text">Instagram</strong><sup> [1]</sup></p>
				<p><a href="https://www.dropbox.com/sh/7z0agyrlbi7cv70/AADQwD0TEHOPL9a3nh0vuUhya?dl=0" target="_blank" class="download dark-gray-text">Download and share these stats</a></p>
			</div>
		</section>
	</div>
	<div class="column red-bg has-text-centered stat-panel">
		<div class="stat-img" id="instagram-lottie" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
			<!-- If the animation doesn't work, then delete the id in the above div and uncomment this img tag below
			<img src="images/instagram.png"> -->
		</div>
	</div>
</div>

<!-- Yellow Snapchat -->
<div class="columns">
	<div class="column is-half yellow3-bg stat-panel">
		<section class="section">
			<div class="container has-text-centered" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="title is-1 big-header is-size-1-tablet is-size-1-mobile black-text">2,100,000</p>
				<p class="stat-body black-text is-size-4 is-size-4-tablet is-size-5-mobile">snaps created on <strong class="black-text">Snapchat</strong><sup> [1]</sup></p>
				<p><a href="https://www.dropbox.com/sh/7z0agyrlbi7cv70/AADQwD0TEHOPL9a3nh0vuUhya?dl=0" target="_blank" class="download dark-gray-text">Download and share these stats</a></p>
			</div>
		</section>
	</div>
	<div class="column yellow-bg has-text-centered stat-panel">
		<div class="stat-img" id="snapchat-lottie" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
			<!-- If the animation doesn't work, then delete the id in the above div and uncomment this img tag below
			<img src="images/snapchat.png"> -->
		</div>
	</div>
</div>

<!-- Green shopping -->
<div class="columns">
	<div class="column is-half green3-bg stat-panel">
		<section class="section">
			<div class="container has-text-centered" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="title is-1 big-header is-size-1-tablet is-size-1-mobile black-text">$6,582,000</p>
				<p class="stat-body black-text is-size-4 is-size-4-tablet is-size-5-mobile">spent <strong class="black-text">online </strong> &#40;converted to USD&#41;<sup> [2]</sup></p>
				<p><a href="https://www.dropbox.com/sh/7z0agyrlbi7cv70/AADQwD0TEHOPL9a3nh0vuUhya?dl=0" target="_blank" class="download dark-gray-text">Download and share these stats</a></p>
			</div>
		</section>
	</div>
	<div class="column green-bg has-text-centered stat-panel">
		<div class="stat-img" id="shopping-lottie" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
			<!-- If the animation doesn't work, then delete the id in the above div and uncomment this img tag below
			<img src="images/shopping.png"> -->
		</div>
	</div>
</div>

<!-- Blue Facebook -->
<div class="columns">
	<div class="column is-half blue3-bg stat-panel">
		<section class="section">
			<div class="container has-text-centered" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="title is-1 big-header is-size-1-tablet is-size-1-mobile black-text">1,125,000</p>
				<p class="stat-body black-text is-size-4 is-size-4-tablet is-size-5-mobile">log ins on <strong class="black-text">Facebook</strong><sup> [1]</sup></p>
				<p><a href="https://www.dropbox.com/sh/7z0agyrlbi7cv70/AADQwD0TEHOPL9a3nh0vuUhya?dl=0" target="_blank" class="download dark-gray-text">Download and share these stats</a></p>
			</div>
		</section>
	</div>
	<div class="column blue-bg has-text-centered stat-panel">
		<div class="stat-img" id="facebook-lottie" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
			<!-- If the animation doesn't work, then delete the id in the above div and uncomment this img tag below
			<img src="images/facebook.png"> -->
		</div>
	</div>
</div>

<!-- Red YouTube -->
<div class="columns">
	<div class="column is-half red3-bg stat-panel">
		<section class="section">
			<div class="container has-text-centered" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="title is-1 big-header is-size-1-tablet is-size-1-mobile black-text">4,500,000</p>
				<p class="stat-body black-text is-size-4 is-size-4-tablet is-size-5-mobile">videos watched on <strong class="black-text">YouTube</strong><sup> [1]</sup></p>
				<p><a href="https://www.dropbox.com/sh/7z0agyrlbi7cv70/AADQwD0TEHOPL9a3nh0vuUhya?dl=0" target="_blank" class="download dark-gray-text">Download and share these stats</a></p>
			</div>
		</section>
	</div>
	<div class="column red-bg has-text-centered stat-panel">
		<div class="stat-img" id="youtube-lottie" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
			<!-- If the animation doesn't work, then delete the id in the above div and uncomment this img tag below
			<img src="images/youtube.png"> -->
		</div>
	</div>
</div>

<!-- Yellow emails -->
<div class="columns">
	<div class="column is-half yellow3-bg stat-panel">
		<section class="section">
			<div class="container has-text-centered" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="title is-1 big-header is-size-1-tablet is-size-1-mobile black-text">188,000,000</p>
				<p class="stat-body black-text is-size-4 is-size-4-tablet is-size-5-mobile"><strong class="black-text">emails </strong>sent<sup> [1]</sup></p>
				<p><a href="https://www.dropbox.com/sh/7z0agyrlbi7cv70/AADQwD0TEHOPL9a3nh0vuUhya?dl=0" target="_blank" class="download dark-gray-text">Download and share these stats</a></p>
			</div>
		</section>
	</div>
	<div class="column yellow-bg has-text-centered stat-panel">
		<div class="stat-img" id="email-lottie" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
			<!-- If the animation doesn't work, then delete the id in the above div and uncomment this img tag below
			<img src="images/email.png"> -->
		</div>
	</div>
</div>

<!-- Green texting -->
<div class="columns">
	<div class="column is-half green3-bg stat-panel">
		<section class="section">
			<div class="container has-text-centered" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="title is-1 big-header is-size-1-tablet is-size-1-mobile black-text">18,100,000</p>
				<p class="stat-body black-text is-size-4 is-size-4-tablet is-size-5-mobile"><strong class="black-text">text messages </strong>sent<sup> [1]</sup></p>
				<p><a href="https://www.dropbox.com/sh/7z0agyrlbi7cv70/AADQwD0TEHOPL9a3nh0vuUhya?dl=0" target="_blank" class="download dark-gray-text">Download and share these stats</a></p>
			</div>
		</section>
	</div>
	<div class="column green-bg has-text-centered stat-panel">
		<div class="stat-img" id="text-lottie" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
			<!-- If the animation doesn't work, then delete the id in the above div and uncomment this img tag below
			<img src="images/text-message.png"> -->
		</div>
	</div>
</div>

<section class="section">
	<div class="container">
		<div class="vertical-line white-bg">
		</div>
	</div>
</section>

<section class="section">
	<div class="container" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
		<p class="is-size-1 is-size-1-mobile hepta-type">Wait! There's more...</p>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="vertical-line white-bg">
		</div>
	</div>
</section>

<!-- Other stats-->
<div class="columns">
	<!-- Blue Twitter -->
	<div class="column is-one-third blue-bg other-stats">
		<section class="section">
			<div class="container has-text-centered" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
				<p class="is-size-2-tablet is-size-2-mobile white-text hepta-type other-stat-header">347,000</p>
				<p class="white-text is-size-5 is-size-5-tablet is-size-5-mobile">tweets via <strong class="white-text">Twitter</strong><sup> [3]</sup></p>
				<img src="images/twitter.png" alt="Twitter logo">
			</div>
		</section>
	</div>
	<!-- Red Netflix -->
	<div class="column is-one-third red-bg other-stats">
		<section class="section">
			<div class="container has-text-centered" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="1000" data-aos-once="true">
				<p class="is-size-2-tablet is-size-2-mobile white-text hepta-type other-stat-header">694,000</p>
				<p class="white-text is-size-5 is-size-5-tablet is-size-5-mobile">hours watched on <strong class="white-text">Netflix</strong><sup> [1]</sup></p>
				<img src="images/netflix.png" alt="Netflix logo">
			</div>
		</section>
	</div>
	<!-- Yellow apps -->
	<div class="column is-one-third yellow-bg other-stats">
		<section class="section">
			<div class="container has-text-centered" data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="1000" data-aos-once="true">
				<p class="is-size-2-tablet is-size-2-mobile white-text hepta-type other-stat-header">390,100</p>
				<p class="white-text is-size-5 is-size-5-tablet is-size-5-mobile"><strong class="white-text">apps</strong> downloaded<sup> [1]</sup></p>
				<img src="images/apps.png" alt="Apple App Store and Google Play Store logos">
			</div>
		</section>
	</div>
</div>
<div class="columns">
	<!-- Green Giphy -->
	<div class="column is-one-third green-bg other-stats">
		<section class="section">
			<div class="container has-text-centered" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true">
				<p class="is-size-2-tablet is-size-2-mobile white-text hepta-type other-stat-header">4,800,000</p>
				<p class="white-text is-size-5 is-size-5-tablet is-size-5-mobile">GIFs served via <strong class="white-text">Giphy</strong><sup> [1]</sup></p>
				<img src="images/giphy.png" alt="Giphy logo">
			</div>
		</section>
	</div>
	<!-- Blue Twitch -->
	<div class="column is-one-third blue-bg other-stats">
		<section class="section">
			<div class="container has-text-centered" data-aos="zoom-in" data-aos-delay="800" data-aos-duration="1000" data-aos-once="true">
				<p class="is-size-2-tablet is-size-2-mobile white-text hepta-type other-stat-header">1,000,000</p>
				<p class="white-text is-size-5 is-size-5-tablet is-size-5-mobile">views on <strong class="white-text">Twitch</strong><sup> [1]</sup></p>
				<img src="images/twitch.png" alt="Twitch logo">
			</div>
		</section>
	</div>
	<!-- Red Tinder -->
	<div class="column is-one-third red-bg other-stats">
		<section class="section">
			<div class="container has-text-centered" data-aos="zoom-in" data-aos-delay="1200" data-aos-duration="1000" data-aos-once="true">
				<p class="is-size-2-tablet is-size-2-mobile white-text hepta-type other-stat-header">1,400,000</p>
				<p class="white-text is-size-5 is-size-5-tablet is-size-5-mobile">swipes on <strong class="white-text">Tinder</strong><sup> [1]</sup></p>
				<img src="images/tinder.png" alt="Tinder logo">
			</div>
		</section>
	</div>
</div>

<section class="section">
	<div class="container">
		<div class="vertical-line white-bg">
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<p class="is-size-1 is-size-1-mobile hepta-type">Yep, crazy right?!</p>
		<br>
		<p class="is-size-3 is-size-3-mobile">Thanks for reading! If you enjoyed this, then <a class="share-link copy-btn" data-clipboard-text="https://2019.hackuniversity.io">share with a friend!</a></p>
		<p class="is-size-3">Sharing is caring &#x1F60A;</p>
		<div class="sources">
			<p>&#8212;</p>
			<p><a class="source-link medium-gray-text" href="https://twitter.com/lorilewis/status/1103687442727616523" target="_blank"><sup> [1]</sup> Internet Minute by Lori Lewis and Chadd Callahan</a></p>
			<p><a class="source-link medium-gray-text" href="https://www.digitalcommerce360.com/article/global-ecommerce-sales" target="_blank"><sup> [2]</sup> Shopping Statistics by Digital Commerce 360</a></p>
			<p><a class="source-link medium-gray-text" href="https://www.oberlo.com/blog/twitter-statistics" target="_blank"><sup> [3]</sup> Twitter Statistics by Oberlo</a></p>
		</div>
	</div>
</section>

<section class="section white-bg join">
	<div class="container has-text-centered">
		<p class="title is-2 black-text join-header">Join our tech and design community!</p>
		<a href="https://instagram.com/hackuniversity" target="_blank"><button class="button blue-bg white-text" id="join-button">Let's go</button></a>
	</div>
</section>

<section class="section custom-footer">
	<div class="container">
		<img src="images/black-glyph.png" alt="Hack University's Flag Glyph" class="footer-glyph">
		<br>
		<br>
		<div class="columns">
			<div class="column">
				<p class="is-size-4 is-size-4-mobile"><strong class="black-text">Hack University</strong> is a community of hackers and designers. We're here to honor the world of tech.</p>
			</div>
			<div class="column is-offset-3">
				<div class="columns">
					<div class="column is-half">
						<p><a href="https://instagram.com/hackuniversity" target="_blank" class="is-size-4 is-size-5-mobile black-text social-link">Instagram</a></p>
						<p><a href="https://www.facebook.com/hackuniversity.io" target="_blank" class="is-size-4 is-size-5-mobile black-text social-link">Facebook</a></p>
					</div>
					<div class="column is-half">
						<p><a href="https://twitter.com/hackuniversity1" target="_blank" class="is-size-4 is-size-5-mobile black-text social-link">Twitter</a></p>
						<p><a href="https://hackuniversityio.tumblr.com" target="_blank" class="is-size-4 is-size-5-mobile black-text social-link">Tumblr</a></p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<p>Made with lots of &#x1F499;while drinking tea.</p>
		<br>
	</div>
</section>